body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.post {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post-header i {
    font-size: 24px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-handle {
    font-weight: bold;
}

.username {
    font-weight: normal;
}

.post-header i.fa-ellipsis-vertical {
    margin-left: auto;
    cursor: pointer;
}

.post-img img {
    width: 100%;
    height: auto;
    display: block;
}

.post-body {
    padding: 10px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-icons i {
    font-size: 24px;
}

.post-icons i.fa-bookmark {
    margin-left: auto;
}
